.env
.env.*
.phpunit.result.cache
*.zip
.DS_Store

# Backend ignores
Backend/.env
Backend/.env.*
Backend/vendor/
Backend/storage/*.key
Backend/storage/app/*
!Backend/storage/app/.gitignore
!Backend/storage/app/public/.gitignore
Backend/storage/framework/cache/*
!Backend/storage/framework/cache/.gitignore
Backend/storage/framework/cache/data/*
!Backend/storage/framework/cache/data/.gitignore
Backend/storage/framework/sessions/*
!Backend/storage/framework/sessions/.gitignore
Backend/storage/framework/testing/*
!Backend/storage/framework/testing/.gitignore
Backend/storage/framework/views/*
!Backend/storage/framework/views/.gitignore
Backend/storage/logs/*
!Backend/storage/logs/.gitignore
Backend/public/storage
Backend/.phpunit.cache
Backend/.phpunit.result.cache

# Frontend ignores
Frontend/.env.local
Frontend/.env.*.local
Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/*.tsbuildinfo
